$primaryFont : 'Cormorant', serif;
$secondaryFont : 'inter', sans-serif;
$primaryColor:#DC5F00;
$secondaryColor:#CF0A0A;
$theme-colors: (
  "primary":    $primaryColor,
  "secondary":  $secondaryColor
);